<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Post Details</h1>
        <div id="postDetailsContainer">
            <!-- Зображення поста -->
            <img id="postImage" src="" alt="Post Image" style="display:none;">
            <h2 id="postTitle">Loading...</h2>
            <p id="postText">Loading...</p>
            <p id="postTags">Tags: Loading...</p>
            <div id="postImageContainer"></div> <!-- Контейнер для зображення -->
            <button id="backButton">Back to Posts</button>
        </div>
    </div>

    <script src="/js/post-details.js"></script>
</body>
</html>
